<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink=""  routerLinkActive="active" href="javascript:void(0)">Text Module</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Article Module</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Picture Module</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">Document Module</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>