<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/text-module"   routerLinkActive="active" href="javascript:void(0)">Text Module</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/article-module"   routerLinkActive="active" href="javascript:void(0)">Article Module</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/picture-module"   routerLinkActive="active" href="javascript:void(0)">Picture Module</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link"href="javascript:void(0)">Document Module</a>
    </li> -->
  </ul>

</div>

<div class="container-fluid parentContainer">
  <div class="container">
   
    <router-outlet></router-outlet>
  
  </div>   
</div>
